#root {
  max-width: 800px;
  min-width: 800px;
  margin: auto;
  text-align: center;
}

nav {
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 1rem 1rem;
  display: block;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

a:hover {
  color: #333;
}

.active {
  color: #000;
  font-weight: bold;
}

.App {
  padding-bottom: 35rem;
}

.user-button {
  border-radius:40px;
  display: block; 
  margin-bottom: 10px;
  margin-left: 20rem;
}
